* {
    direction: rtl!important;
    /* text-align: right!important; */
}
body {
    direction: rtl!important;
    padding-bottom: 5rem;
    text-align: right;
}
.textField {
    width: 100%;
    margin: .5rem 0!important;
    padding: .1rem 0 !important;
}
.submitFormBtn {
    margin-top: 2rem;
}
